@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap");
@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");
:root {
  /* Paleta Principal (Azul/Índigo - Estilo Unificado) */
  --primary-color: #003876; /* Indigo VIBRANTE */
  --primary-hover: #ce1126;
  --accent-color: #ce1126; /* Pink VIBRANTE (Acento Secundario - Blobs/Gradientes) */
  --bg-gradient-1: #003876; /* Dark Slate (Base más oscura) */
  --bg-gradient-2: #ce1126; /* Dark Indigo/Blue (Fondo) */

  /* Glassmorphism y Tipografía */
  --glass-bg: rgba(255, 255, 255, 0.068);
  --glass-border: rgba(255, 255, 255, 0.021);
  --text-main: #000000; /* Gris oscuro para lectura */
  --text-muted: #000000; /* Gris medio para subtítulos */
  --input-bg: rgba(0, 0, 0, 0.3);

  /* Tipografía */
  --font-family: "Outfit", system-ui, -apple-system, sans-serif;
}

aside {
  background: linear-gradient(
    -45deg,
    var(--primary-color),
    var(--accent-color)
  );
  flex-shrink: 0;
  width: 16rem;
  color: white;
  height: 100vh;
  display: grid;
  grid-template-rows: 6rem 1fr 8rem;
  padding: 0.5rem;
  will-change: width;
  transition: width 0.25s linear, padding 0.25s linear;
  z-index: 100;
}

aside button {
  background-color: transparent;
  border: none;
  height: 4rem;
  width: 4rem;
  font-size: 1.25rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  cursor: pointer;
}

aside button:hover {
  background-color: #ffffff;
  color: #242424;
  font-size: 1.5rem;
}

ul {
  list-style: none;
}

ul li {
  display: grid;
  grid-template-columns: 4rem 1fr;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-block: 0.25rem;
  transition: width 0.2s linear;
  overflow: hidden;
}

ul li.active,
ul li:hover {
  background-color: #ffffff;
  color: #000;
}

ul li i {
  width: 4rem;
  height: 3.5rem;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0.5rem;
  cursor: inherit;
}

ul li img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ffce00;
}

ul li:hover img {
  border-color: #407f60;
}

main.main-layout {
  flex-grow: 1;
  display: block;
  padding: 40px;
  max-width: calc(100vw - 16rem);
  transition: all 0.35s ease;
}

/* Si el aside se encoge (mini), el main debe expandirse */
.mini + main.main-layout {
  max-width: calc(100vw - 4rem);
}
.mini {
  padding: 0;
}

.mini ul li {
  width: 4rem;
}

.mini ul li:hover {
  width: 12rem;
  box-shadow: 0 0.5rem 0.5rem #24242436;
}
